<h1>Evento</h1>
<p>Where you make and invite!</p>
<%= link_to "View Dashboard", user_path(@user) %>

<% if @events.any? %>
  <ol>
    <% @events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %> by <%= event.creator.email %> 
      </li>
    <% end %>
  </ol>
<% end %>
